{% extends 'base.html' %}
{% load static %}

{% block main %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Wishlist</h4>
                        <div class="breadcrumb__links">
                            <a href="{% url 'index' %}">Home</a>
                            <a href="{% url 'shop' %}">Shop</a>
                            <span>Wishlist</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Product Name</th>
                                    <th>Stock status</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="{{ product.get_first_image }}" width=30% alt="">
                                        </div>
                                    </td>
                                    <td class="cart__price">{{ product.title }}</td>
                                    <td class="cart__price">
                                        {% if product.in_stock > 0 %}
                                        <span class="secondary-font fw-medium">In Stoke</span>
                                        {% else %}
                                        <span class="secondary-font fw-medium">Out Of Stoke</span>
                                        {% endif %}
                                    </td>
                                    <td class="cart__price">${{ product.get_discount_price }}</td>
                                    <td class="cart__close">
                                        <a href="{% url 'wishlist_action' product.pk %}" style="background:none; border:none; cursor:pointer;">
                                            <i class="fa fa-close"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="{% url 'shop' %}">Continue Shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->

{% endblock main %}